<div class="container-fluid">
    <div id="content-container" class="row">
        <left-nav-main></left-nav-main>
        <h1 class="text-center">Workouts</h1>
    </div>
    <div class="workout-container">
        <div *ngFor="let workout of workoutList | orderBy : 'title'"
             class="workout title" (click)="onSelect(workout)">
             <div class="title">{{workout.title}}</div>
             <div class="stats">
                <span class="duration">
                    <span class="glyphicon glyphicon-time"></span> - 
                    {{workout.totalWorkoutDuration() | secondsToTime}}
                </span>
                <span class="length pull-right">
                    <span class="glyphicon glyphicon-th-list"></span> - 
                    {{workout.exercises.length}}
                </span>                
             </div>
        </div>
    </div>
</div>